body {
  margin: 0%;
  padding: 0%;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  flex: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CAEBF2;
}

.header input {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 5px;
}

.header button {
  width: 75px;
  height: 50px;
  color: #fff;
  background-color: black;
  border: 0;
  border-radius: 5px;
  margin: 0 10px;
}

.section {
  flex: 70%;
}